body {
  background-color: #fafafa;
}
img {
  border: 1px solid #ccc;
  align-self: start;
}
.tow-column {
  display: flex;
  margin: 0 -10px;
  margin-bottom: 40px;
}
.tow-column > * {
  width: 50%;
  margin: 0 10px;
}
.tow-column > .info {
  position: relative;
}
.tags {
  color: #777;
  bottom: 0;
  position: absolute;
  left: 0;
}

small {
  margin-right: 10px;
  font-size: 15px;
}