
#index
  .landing-wrap
    .slogan
      .row
        img(src="./styles/images/01-banner-title.png", alt="紫金堂").logo
        img(src="./styles/images/01-banner-subtitle.png", alt="紫金堂")
      .scroll.scroll-down
        img(src="./styles/images/01-scroll-notext.png", alt="紫金堂", title="scroll")
        .f18 往下滾動

    .slick.landing
      
      .imgLiquidFill 
        img(src="./styles/images/01-banner01.jpg", alt="紫金堂")
      .imgLiquidFill 
        img(src="./styles/images/01-banner02.jpg", alt="紫金堂")
      .imgLiquidFill 
        img(src="./styles/images/01-banner03.jpg", alt="紫金堂")
      .imgLiquidFill 
        img(src="./styles/images/01-banner04.jpg", alt="紫金堂")
      .imgLiquidFill 
        img(src="./styles/images/01-banner05.jpg", alt="紫金堂")

  .feature#scroll-here

    h2.sr-only 產品特色
    .card
      .imgLiquidFill
        img(src="./styles/images/01-s1-01.jpg", alt="紫金堂")
      .wrap.title
        span.en.f40 Meals of #[br]Tasteforlife
        h3.f36 紫金月子
        span.f20 專業 養生 健康
        p.lh2 坐月子的原理，就是藉由產後飲食的補養，讓身體休養生息，調整體質來維持健康。正確的坐月子，可以讓產婦回復健康美麗與自信。
        a.btn.plus
          .circle
            .one
            .two
          span.en.f18 Read more
    .card
      .imgLiquidFill
        img(src="./styles/images/01-s1-02.jpg", alt="紫金堂")
      .wrap.title
        span.en.f40 Resources of  #[br]Pregnancy
        h3.f36 媽媽教室
        span.f20 專業 養生 健康
        p.lh2 紫金堂精心研發漸進式四階段調養月子養生餐，並提供產前諮詢、產後照護，以專業分工、團隊的精神用心服務每一位客戶。
        a.btn.plus
          .circle
            .one
            .two
          span.en.f18 Read more
    .card
      .imgLiquidFill
        img(src="./styles/images/01-s1-03.jpg", alt="紫金堂")
      .wrap.title
        span.en.f40 Central  #[br]Kitchen
        h3.f36 中央廚房
        span.f20 專業 養生 健康
        p.lh2 紫金堂中央廚房通過ISO 22000及HACCP (ISO 15161)雙重驗證，連續三年獲得最佳的A級佳績，產品品質有保障，讓您吃得更安心。
        a.btn.plus
          .circle
            .one
            .two
          span.en.f18 Read more
        
  .stories
    .title
      span.en.f40  Customer#[br] Stories
      h2.f36 客戶迴響
      span.f20 專業 養生 健康
    .group
      .imgLiquidFill
        img(src="./styles/images/01-s2-01.jpg", alt="紫金堂")
      .slick.basic
        .context
          p.lh2 紫金堂的餐點規劃變化性多，還有貼心專業的調養師服務，除了注意坐月子期間的細節，更是幫我做好專業的調理規劃，真是太感心了!
          span 朱芯儀  /  2011 . 11
          a.btn.en.f18 - Read more -
        .context
          p.lh2 紫金堂的餐點規劃變化性多，還有貼心專業的調養師服務，除了注意坐月子期間的細節，更是幫我做好專業的調理規劃，真是太感心了!
          span 朱芯儀  /  2011 . 11
          a.btn.en.f18 - Read more -
    .group
      .imgLiquidFill
        img(src="./styles/images/01-s2-02.jpg", alt="紫金堂")
      .slick.basic
        .context
          p.lh2 紫金堂的餐點規劃變化性多，還有貼心專業的調養師服務，除了注意坐月子期間的細節，更是幫我做好專業的調理規劃，真是太感心了!
          span 朱芯儀  /  2011 . 11
          a.btn.en.f18 - Read more -
        .context
          p.lh2 紫金堂的餐點規劃變化性多，還有貼心專業的調養師服務，除了注意坐月子期間的細節，更是幫我做好專業的調理規劃，真是太感心了!
          span 朱芯儀  /  2011 . 11
          a.btn.en.f18 - Read more -

  .cusine
    .center
      .title
        span.en.f30  Demonstration#[br] of Cuisine
        h2.f36 月子藥膳
        span.f20 更多料理示範影片
      a(href="#", title="海外經銷募集") 
        img(src="./styles/images/01-s3-btn.jpg", alt="紫金堂")

    .row
      a(href="//https://www.youtube.com/watch?v=INUyOnhqTMg" data-lity).imgLiquidFill.video
        img(src="./styles/images/01-s3-01.jpg", alt="紫金堂")
        .icon-play-1
      
      .intro
        .wrap
          h3.f40 甘露鮮魚燒
          p.lh2 華人坐月子的原理傳承自老祖宗的智慧，女性從懷孕開始，子宮隨著胎兒的成長而撐大，內臟受到胎兒壓迫，孕婦在懷孕過程當中。
          a.btn.plus
            .circle
              .one
              .two
            span.en.f18 Read more
    .row
      a(href="//https://www.youtube.com/watch?v=3q2n__L9bxI" data-lity).imgLiquidFill.video
        img(src="./styles/images/01-s3-02.jpg", alt="紫金堂")
        .icon-play-1
      .intro
        .wrap
          h3.f40 香杞湯川櫻桃鴨胸 
          p.lh2 華人坐月子的原理傳承自老祖宗的智慧，女性從懷孕開始，子宮隨著胎兒的成長而撐大，內臟受到胎兒壓迫，孕婦在懷孕過程當中。
          a.btn.plus
            .circle
              .one
              .two
            span.en.f18 Read more
  
  .news
    .text
      .sub
        span.en.f40 News
        h2.f30 新聞中心
      ul.nostyle
        li
          a(href="#") 
            span 2016 / 07 / 25  -  
            | 關心孕媽咪，批批檢驗，食在安心
        li
          a(href="#") 
            span 2016 / 06 / 06  -  
            | 月子一生APP盛宴大會
        li
          a(href="#") 
            span 2016 / 05 / 25  -  
            | 台灣銀髮產業協會正式成立
        li
          a(href="#") 
            span 2016 / 07 / 25  -  
            | 關心孕媽咪，批批檢驗，食在安心
        li
          a(href="#") 
            span 2016 / 06 / 06  -  
            | 月子一生APP盛宴大會
        
      a.btn.en.f20 - Read All -
    .img-group
      a(href="#") 
        img(src="./styles/images/01-s4-01.jpg", alt="紫金堂")
      a(href="#") 
        img(src="./styles/images/01-s4-02.jpg", alt="紫金堂")
      a(href="#") 
        img(src="./styles/images/01-s4-03.jpg", alt="紫金堂")




    
      



