#footer
  .container
  //-   ul.menu.noneStyle
  //-     li
  //-       a(href="about.html") About Us
  //-       a(href="about.html") Company Profile
  //-       a(href="history.html") History
  //-     li 
  //-       a(href="products.html") Products
  //-       a(href="category.html") Touch Monitor
  //-       a(href="category.html") Open Frame Monitor
  //-       a(href="category.html") Panel PC
  //-       a(href="category.html") POS
  //-     li 
  //-       a(href="application.html") Application
  //-       a(href="application.html") Retail
  //-       a(href="application.html") Financial
  //-       a(href="application.html") Health Care
  //-       a(href="application.html") Digital Signage
  //-       a(href="application.html") Embedded
  //-     li 
  //-       a(href="support.html") Support
  //-       a(href="support.html") Tech Support
  //-       a(href="RMA.html") RMA
  //-       a(href="downloads.html") Download

  //-     li
  //-       a(href="location.html") Contact Us
  //-       a(href="location.html") Global Locations
  //-       a(href="join.html") Join Us
  //-       a(href="inquiry.html") Contact Us

  //-     li 
  //-       a Relative Website
  //-       a(href="#") TPK
  //-   address
  //-     .logo
  //-       a(href="https://www.youtube.com/channel/UCJ7O0zV_j5raboH96vxfV_w?view_as=subscriber" ,target="_blank")
  //-         i.icon-youtube-play
  //-       a(data-wallpaper href="./styles/images/QR.png")
        
  //-         i.icon-linkedin
  //-     .group
  //-       a(href="tel:0277228688").tel Phone: +886 2 7722 8688
  //-       a(href="#") Fax: +886 2 7722 8646
  //-       a(href="https://goo.gl/maps/fAM54Mr1W4w" , target="_blank").addr 7F., No.141, Sec. 3, Ren'ai., Daan Dist.,
  //-         span Taipei City 106, Taiwan (R.O.C.)
  //-     .group
  //-       a(href="index.html") 2018  TES Touch Embedded Solutions Inc. 
  //-       a.nolink All Rights Reserved.
  //-       a.sr-only(href="https://ecreative.tw/", target="_blank") Designed by MINMAX
  //-       a(href="privacy.html") Privacy policy
