
#nav.circle  
  a(href="index.html").logo
    h1.hidden 紫金堂
    img(src="./styles/images/00-icon.jpg", alt="紫金堂")
    
  //- .menu.expend
  .menu
    .menu-toggle
      .one
      .two
      .three

    .panel-wrap

        
      ul.nostyle
        //- .en
        .btn-group
          .close
            .one
            .two
        li
          a(href="#").active 月子養生餐
        li
          a(href="#") 月子藥膳調理
        li
          a(href="#") 小產元氣餐
        li
          a(href="#") 生理期保養  
        li.purpleEnd
          a(href="#") 線上購物
        li
          a(href="#") 關於我們
        li
          a(href="#") 中央廚房
        li
          a(href="#") 最新消息
        li
          a(href="#") 媽媽教室
        li
          a(href="#") 國際培訓
        li
          a(href="#") 海外迴響


  