
extends ./layout.pug

block content
  .fullscreen
    .progress
    h3.title 
      span.title_g Inner Piece
      span  / 
      span.title_b One for All
      span  / 
      span.title_r The keeper's Stash
      span  / 
      span.title_y Dream in Green

    button.button VIEW PROJEXT
      .bgc

    svg(width='100%', height='100%', viewBox='0 0 445 529', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xml:space='preserve', xmlns:serif='http://www.serif.com/', style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;').all
      g
        path#circle(d='M222.5,70.5C345.301,70.5 445,170.199 445,293C445,415.801 345.301,515.5 222.5,515.5C99.699,515.5 0,415.801 0,293C0,170.199 99.699,70.5 222.5,70.5ZM222.5,291.5C223.236,291.5 223.833,292.172 223.833,293C223.833,293.828 223.236,294.5 222.5,294.5C221.764,294.5 221.167,293.828 221.167,293C221.167,292.172 221.764,291.5 222.5,291.5Z', style='fill:rgb(197, 214, 123);')
        path#drop(d='M222.5,0C222.5,0 32.332,237.183 32.332,338.832C32.332,443.789 117.544,529 222.5,529C327.456,529 412.668,443.789 412.668,338.832C412.668,237.183 222.5,0 222.5,0ZM223,307C223.552,307 224,307.896 224,309C224,310.104 223.552,311 223,311C222.448,311 222,310.104 222,309C222,307.896 222.448,307 223,307Z', style='fill:rgb(229,236,214);')
        path#donut(d='M222.5,69C341.99,69 439,166.01 439,285.5C439,404.99 341.99,502 222.5,502C103.01,502 6,404.99 6,285.5C6,166.01 103.01,69 222.5,69ZM222.5,155.6C294.194,155.6 352.4,213.806 352.4,285.5C352.4,357.194 294.194,415.4 222.5,415.4C150.806,415.4 92.6,357.194 92.6,285.5C92.6,213.806 150.806,155.6 222.5,155.6Z')
        path#hex(d='M436,285.5L329.25,470.396L115.75,470.396L9,285.5L115.75,100.604L329.25,100.604L436,285.5ZM224.5,278C225.88,278 227,278.896 227,280C227,281.104 225.88,282 224.5,282C223.12,282 222,281.104 222,280C222,278.896 223.12,278 224.5,278Z', style='fill:rgb(255,161,7);')

    .section
      .relative_wrapper
        img(src="./styles/images/inner_peace_01.png", alt="").green_pat
        img(src="./styles/images/inner_peace_02.png", alt="").green_bottle
        img(src="./styles/images/inner_peace_03.png", alt="").green_leaf
        img(src="./styles/images/inner_peace_04.png", alt="").green_box

    .section
      .relative_wrapper
        img(src="./styles/images/box-left.png", alt="").blue_box1
        img(src="./styles/images/box-left.png", alt="").blue_box2
        img(src="./styles/images/coconut.png", alt="").blue_coconut
        img(src="./styles/images/bottle.png", alt="").blue_bottle

    .section
      .relative_wrapper
        img(src="./styles/images/abeille2.gif", alt="").red_bee1
        img(src="./styles/images/abeille5.gif", alt="").red_bee2
        img(src="./styles/images/bottle-1.png", alt="").red_box
        img(src="./styles/images/honey-stick.png", alt="").red_stick1
        img(src="./styles/images/honey-stick.png", alt="").red_stick2

    .section
      .relative_wrapper
        img(src="./styles/images/flower.png", alt="").yellow_flower
        img(src="./styles/images/led.png", alt="").yellow_pat
        img(src="./styles/images/pot.png", alt="").yellow_bottle
        img(src="./styles/images/box.png", alt="").yellow_box

        




