doctype html
html(lang='zh-TW')
  head
    include ../include/head.jade

  body
    main.wp
      include ../include/nav.jade
      
      include ../include/01-index.jade

      include ../include/sitemap.jade
      include ../include/footer.jade
    include ../include/defaultJs.jade  

