@charset "UTF-8";
@import url(./plugin/fontello/css/fontello.css);
@import url(./plugin/bootstrap-reboot.css);
@import url(./plugin/lity.css);
@import url(./plugin/jquery.mCustomScrollbar.css);
@import url(./plugin/simplebar.css);
/* ==========================================================================
    reboot卻沒有的，在英創達特有的 default
 @mixin =========================================================================*/
@import url("https://fonts.googleapis.com/css?family=EB+Garamond");
a {
  display: inline-block;
  white-space: nowrap;
  outline: none !important;
  cursor: pointer;
  text-decoration: none; }
  a:active {
    cursor: pointer;
    text-decoration: none; }

html, body {
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.wp {
  min-width: 320px;
  overflow: hidden; }

body {
  height: 100.1% !important;
  overflow-x: hidden;
  -webkit-backface-visibility: hidden; }

@media all and (max-width: 320px) {
  body, html, header {
    width: 320px !important; } }

body:after {
  display: block;
  content: "We're sorry! this website does not support your browser, please upgrade your browser, thank you.";
  position: fixed;
  z-index: 100000000000000;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  padding: 50px;
  background-color: #fff;
  text-align: center;
  font-size: 20px;
  color: #3f3f3f; }

:root body:after {
  display: none; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  line-height: normal; }

img {
  max-width: 100%;
  height: auto;
  border: none;
  -o-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
      user-select: none; }

textarea {
  resize: none; }

::-webkit-input-placeholder, ::-moz-placeholder, ::-o-placeholder, ::-ms-placeholder, ::-ms-input-placeholder {
  color: #888888; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-transform: none; }

table {
  -webkit-backface-visibility: visible; }

button {
  border: none;
  outline: none !important;
  text-transform: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

button, input {
  line-height: normal; }

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer; }

figure, address {
  padding: 0;
  margin: 0; }

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

input[type="search"] {
  -webkit-appearance: textfield;
  nowhitespace: afterproperty;
  box-sizing: content-box; }

button[disabled], html input[disabled] {
  cursor: default; }

input[type=search]::-ms-clear, input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button, input[type="search"]::-webkit-search-results-decoration {
  display: none; }

input:focus,
select:focus,
textarea:focus {
  outline-color: transparent; }

input:focus,
select:focus,
textarea:focus {
  outline: none; }

.hidden {
  display: none; }

.scrollbar {
  -webkit-overflow-scrolling: touch; }

.scrollbarX {
  -webkit-overflow-scrolling: touch;
  overflow-x: auto; }

.scrollbarY {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.clearfix:after {
  display: block;
  content: '';
  clear: both; }

.nostyle {
  margin: 0;
  padding: 0; }
  .nostyle > li {
    list-style: none; }

.lh16 {
  line-height: 1.6; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .lh16 {
      line-height: 1.52; } }
  @media only screen and (max-width: 480px) {
    .lh16 {
      line-height: 1.36; } }

.lh18 {
  line-height: 1.8; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .lh18 {
      line-height: 1.71; } }
  @media only screen and (max-width: 480px) {
    .lh18 {
      line-height: 1.62; } }

.lh20 {
  line-height: 2; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .lh20 {
      line-height: 1.9; } }
  @media only screen and (max-width: 480px) {
    .lh20 {
      line-height: 1.8; } }

.lh22 {
  line-height: 2.2; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .lh22 {
      line-height: 2.09; } }
  @media only screen and (max-width: 480px) {
    .lh22 {
      line-height: 1.98; } }

.lh24 {
  line-height: 2.4; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .lh24 {
      line-height: 2.28; } }
  @media only screen and (max-width: 480px) {
    .lh24 {
      line-height: 2.16; } }

.wide5 {
  letter-spacing: 0.5px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .wide5 {
      letter-spacing: 0.25px; } }
  @media only screen and (max-width: 480px) {
    .wide5 {
      letter-spacing: 0.125px; } }

.wide10 {
  letter-spacing: 1px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .wide10 {
      letter-spacing: 0.5px; } }
  @media only screen and (max-width: 480px) {
    .wide10 {
      letter-spacing: 0.25px; } }

.wide15 {
  letter-spacing: 1.5px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .wide15 {
      letter-spacing: 0.75px; } }
  @media only screen and (max-width: 480px) {
    .wide15 {
      letter-spacing: 0.375px; } }

.wide20 {
  letter-spacing: 2px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .wide20 {
      letter-spacing: 1px; } }
  @media only screen and (max-width: 480px) {
    .wide20 {
      letter-spacing: 0.5px; } }

.wide25 {
  letter-spacing: 2.5px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .wide25 {
      letter-spacing: 1.25px; } }
  @media only screen and (max-width: 480px) {
    .wide25 {
      letter-spacing: 0.625px; } }

.wide30 {
  letter-spacing: 3px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .wide30 {
      letter-spacing: 1.5px; } }
  @media only screen and (max-width: 480px) {
    .wide30 {
      letter-spacing: 0.75px; } }

.f12 {
  font-size: 12px; }

.f14 {
  font-size: 14px; }
  @media only screen and (max-width: 480px) {
    .f14 {
      font-size: 13px; } }

.f15 {
  font-size: 15px; }
  @media only screen and (max-width: 480px) {
    .f15 {
      font-size: 14px; } }

.f16 {
  font-size: 16px; }
  @media only screen and (max-width: 480px) {
    .f16 {
      font-size: 15px; } }

.f17 {
  font-size: 17px; }
  @media only screen and (max-width: 480px) {
    .f17 {
      font-size: 16px; } }

.f18 {
  font-size: 18px; }
  @media only screen and (max-width: 480px) {
    .f18 {
      font-size: 16px; } }

.f20 {
  font-size: 1.25rem; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .f20 {
      font-size: 1.125rem; } }
  @media only screen and (max-width: 480px) {
    .f20 {
      font-size: 1.0125rem; } }

.f24 {
  font-size: 1.5rem; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .f24 {
      font-size: 1.2rem; } }
  @media only screen and (max-width: 480px) {
    .f24 {
      font-size: 1.08rem; } }

.f28 {
  font-size: 1.75rem; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .f28 {
      font-size: 1.4rem; } }
  @media only screen and (max-width: 480px) {
    .f28 {
      font-size: 1.26rem; } }

.f32 {
  font-size: 2rem; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .f32 {
      font-size: 1.6rem; } }
  @media only screen and (max-width: 480px) {
    .f32 {
      font-size: 1.44rem; } }

.f36 {
  font-size: 2.25rem; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .f36 {
      font-size: 1.8rem; } }
  @media only screen and (max-width: 480px) {
    .f36 {
      font-size: 1.62rem; } }

.f40 {
  font-size: 2.5rem; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .f40 {
      font-size: 2rem; } }
  @media only screen and (max-width: 480px) {
    .f40 {
      font-size: 1.8rem; } }

.mt4 {
  margin-top: 4px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .mt4 {
      margin-top: 3.2px; } }
  @media only screen and (max-width: 480px) {
    .mt4 {
      margin-top: 2.4px; } }

.mt8 {
  margin-top: 8px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .mt8 {
      margin-top: 6.4px; } }
  @media only screen and (max-width: 480px) {
    .mt8 {
      margin-top: 4.8px; } }

.mt12 {
  margin-top: 12px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .mt12 {
      margin-top: 9.6px; } }
  @media only screen and (max-width: 480px) {
    .mt12 {
      margin-top: 7.2px; } }

.mt16 {
  margin-top: 16px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .mt16 {
      margin-top: 12.8px; } }
  @media only screen and (max-width: 480px) {
    .mt16 {
      margin-top: 9.6px; } }

.mt20 {
  margin-top: 20px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .mt20 {
      margin-top: 16px; } }
  @media only screen and (max-width: 480px) {
    .mt20 {
      margin-top: 12px; } }

.mt24 {
  margin-top: 24px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .mt24 {
      margin-top: 19.2px; } }
  @media only screen and (max-width: 480px) {
    .mt24 {
      margin-top: 14.4px; } }

.mt28 {
  margin-top: 28px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .mt28 {
      margin-top: 22.4px; } }
  @media only screen and (max-width: 480px) {
    .mt28 {
      margin-top: 16.8px; } }

.pt4 {
  padding-top: 4px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pt4 {
      padding-top: 3.2px; } }
  @media only screen and (max-width: 480px) {
    .pt4 {
      padding-top: 2.4px; } }

.pt8 {
  padding-top: 8px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pt8 {
      padding-top: 6.4px; } }
  @media only screen and (max-width: 480px) {
    .pt8 {
      padding-top: 4.8px; } }

.pt12 {
  padding-top: 12px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pt12 {
      padding-top: 9.6px; } }
  @media only screen and (max-width: 480px) {
    .pt12 {
      padding-top: 7.2px; } }

.pt16 {
  padding-top: 16px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pt16 {
      padding-top: 12.8px; } }
  @media only screen and (max-width: 480px) {
    .pt16 {
      padding-top: 9.6px; } }

.pt20 {
  padding-top: 20px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pt20 {
      padding-top: 16px; } }
  @media only screen and (max-width: 480px) {
    .pt20 {
      padding-top: 12px; } }

.pt24 {
  padding-top: 24px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pt24 {
      padding-top: 19.2px; } }
  @media only screen and (max-width: 480px) {
    .pt24 {
      padding-top: 14.4px; } }

.pt28 {
  padding-top: 28px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pt28 {
      padding-top: 22.4px; } }
  @media only screen and (max-width: 480px) {
    .pt28 {
      padding-top: 16.8px; } }

.mr4 {
  margin-right: 4px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .mr4 {
      margin-right: 3.2px; } }
  @media only screen and (max-width: 480px) {
    .mr4 {
      margin-right: 2.4px; } }

.mr8 {
  margin-right: 8px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .mr8 {
      margin-right: 6.4px; } }
  @media only screen and (max-width: 480px) {
    .mr8 {
      margin-right: 4.8px; } }

.mr12 {
  margin-right: 12px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .mr12 {
      margin-right: 9.6px; } }
  @media only screen and (max-width: 480px) {
    .mr12 {
      margin-right: 7.2px; } }

.mr16 {
  margin-right: 16px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .mr16 {
      margin-right: 12.8px; } }
  @media only screen and (max-width: 480px) {
    .mr16 {
      margin-right: 9.6px; } }

.mr20 {
  margin-right: 20px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .mr20 {
      margin-right: 16px; } }
  @media only screen and (max-width: 480px) {
    .mr20 {
      margin-right: 12px; } }

.mr24 {
  margin-right: 24px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .mr24 {
      margin-right: 19.2px; } }
  @media only screen and (max-width: 480px) {
    .mr24 {
      margin-right: 14.4px; } }

.mr28 {
  margin-right: 28px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .mr28 {
      margin-right: 22.4px; } }
  @media only screen and (max-width: 480px) {
    .mr28 {
      margin-right: 16.8px; } }

.pr4 {
  padding-right: 4px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pr4 {
      padding-right: 3.2px; } }
  @media only screen and (max-width: 480px) {
    .pr4 {
      padding-right: 2.4px; } }

.pr8 {
  padding-right: 8px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pr8 {
      padding-right: 6.4px; } }
  @media only screen and (max-width: 480px) {
    .pr8 {
      padding-right: 4.8px; } }

.pr12 {
  padding-right: 12px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pr12 {
      padding-right: 9.6px; } }
  @media only screen and (max-width: 480px) {
    .pr12 {
      padding-right: 7.2px; } }

.pr16 {
  padding-right: 16px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pr16 {
      padding-right: 12.8px; } }
  @media only screen and (max-width: 480px) {
    .pr16 {
      padding-right: 9.6px; } }

.pr20 {
  padding-right: 20px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pr20 {
      padding-right: 16px; } }
  @media only screen and (max-width: 480px) {
    .pr20 {
      padding-right: 12px; } }

.pr24 {
  padding-right: 24px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pr24 {
      padding-right: 19.2px; } }
  @media only screen and (max-width: 480px) {
    .pr24 {
      padding-right: 14.4px; } }

.pr28 {
  padding-right: 28px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pr28 {
      padding-right: 22.4px; } }
  @media only screen and (max-width: 480px) {
    .pr28 {
      padding-right: 16.8px; } }

.mb4 {
  margin-bottom: 4px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .mb4 {
      margin-bottom: 3.2px; } }
  @media only screen and (max-width: 480px) {
    .mb4 {
      margin-bottom: 2.4px; } }

.mb8 {
  margin-bottom: 8px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .mb8 {
      margin-bottom: 6.4px; } }
  @media only screen and (max-width: 480px) {
    .mb8 {
      margin-bottom: 4.8px; } }

.mb12 {
  margin-bottom: 12px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .mb12 {
      margin-bottom: 9.6px; } }
  @media only screen and (max-width: 480px) {
    .mb12 {
      margin-bottom: 7.2px; } }

.mb16 {
  margin-bottom: 16px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .mb16 {
      margin-bottom: 12.8px; } }
  @media only screen and (max-width: 480px) {
    .mb16 {
      margin-bottom: 9.6px; } }

.mb20 {
  margin-bottom: 20px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .mb20 {
      margin-bottom: 16px; } }
  @media only screen and (max-width: 480px) {
    .mb20 {
      margin-bottom: 12px; } }

.mb24 {
  margin-bottom: 24px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .mb24 {
      margin-bottom: 19.2px; } }
  @media only screen and (max-width: 480px) {
    .mb24 {
      margin-bottom: 14.4px; } }

.mb28 {
  margin-bottom: 28px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .mb28 {
      margin-bottom: 22.4px; } }
  @media only screen and (max-width: 480px) {
    .mb28 {
      margin-bottom: 16.8px; } }

.pb4 {
  padding-bottom: 4px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pb4 {
      padding-bottom: 3.2px; } }
  @media only screen and (max-width: 480px) {
    .pb4 {
      padding-bottom: 2.4px; } }

.pb8 {
  padding-bottom: 8px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pb8 {
      padding-bottom: 6.4px; } }
  @media only screen and (max-width: 480px) {
    .pb8 {
      padding-bottom: 4.8px; } }

.pb12 {
  padding-bottom: 12px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pb12 {
      padding-bottom: 9.6px; } }
  @media only screen and (max-width: 480px) {
    .pb12 {
      padding-bottom: 7.2px; } }

.pb16 {
  padding-bottom: 16px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pb16 {
      padding-bottom: 12.8px; } }
  @media only screen and (max-width: 480px) {
    .pb16 {
      padding-bottom: 9.6px; } }

.pb20 {
  padding-bottom: 20px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pb20 {
      padding-bottom: 16px; } }
  @media only screen and (max-width: 480px) {
    .pb20 {
      padding-bottom: 12px; } }

.pb24 {
  padding-bottom: 24px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pb24 {
      padding-bottom: 19.2px; } }
  @media only screen and (max-width: 480px) {
    .pb24 {
      padding-bottom: 14.4px; } }

.pb28 {
  padding-bottom: 28px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pb28 {
      padding-bottom: 22.4px; } }
  @media only screen and (max-width: 480px) {
    .pb28 {
      padding-bottom: 16.8px; } }

.ml4 {
  margin-left: 4px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .ml4 {
      margin-left: 3.2px; } }
  @media only screen and (max-width: 480px) {
    .ml4 {
      margin-left: 2.4px; } }

.ml8 {
  margin-left: 8px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .ml8 {
      margin-left: 6.4px; } }
  @media only screen and (max-width: 480px) {
    .ml8 {
      margin-left: 4.8px; } }

.ml12 {
  margin-left: 12px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .ml12 {
      margin-left: 9.6px; } }
  @media only screen and (max-width: 480px) {
    .ml12 {
      margin-left: 7.2px; } }

.ml16 {
  margin-left: 16px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .ml16 {
      margin-left: 12.8px; } }
  @media only screen and (max-width: 480px) {
    .ml16 {
      margin-left: 9.6px; } }

.ml20 {
  margin-left: 20px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .ml20 {
      margin-left: 16px; } }
  @media only screen and (max-width: 480px) {
    .ml20 {
      margin-left: 12px; } }

.ml24 {
  margin-left: 24px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .ml24 {
      margin-left: 19.2px; } }
  @media only screen and (max-width: 480px) {
    .ml24 {
      margin-left: 14.4px; } }

.ml28 {
  margin-left: 28px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .ml28 {
      margin-left: 22.4px; } }
  @media only screen and (max-width: 480px) {
    .ml28 {
      margin-left: 16.8px; } }

.pl4 {
  padding-left: 4px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pl4 {
      padding-left: 3.2px; } }
  @media only screen and (max-width: 480px) {
    .pl4 {
      padding-left: 2.4px; } }

.pl8 {
  padding-left: 8px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pl8 {
      padding-left: 6.4px; } }
  @media only screen and (max-width: 480px) {
    .pl8 {
      padding-left: 4.8px; } }

.pl12 {
  padding-left: 12px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pl12 {
      padding-left: 9.6px; } }
  @media only screen and (max-width: 480px) {
    .pl12 {
      padding-left: 7.2px; } }

.pl16 {
  padding-left: 16px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pl16 {
      padding-left: 12.8px; } }
  @media only screen and (max-width: 480px) {
    .pl16 {
      padding-left: 9.6px; } }

.pl20 {
  padding-left: 20px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pl20 {
      padding-left: 16px; } }
  @media only screen and (max-width: 480px) {
    .pl20 {
      padding-left: 12px; } }

.pl24 {
  padding-left: 24px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pl24 {
      padding-left: 19.2px; } }
  @media only screen and (max-width: 480px) {
    .pl24 {
      padding-left: 14.4px; } }

.pl28 {
  padding-left: 28px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pl28 {
      padding-left: 22.4px; } }
  @media only screen and (max-width: 480px) {
    .pl28 {
      padding-left: 16.8px; } }

.mt32 {
  margin-top: 32px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .mt32 {
      margin-top: 25.6px; } }
  @media only screen and (max-width: 480px) {
    .mt32 {
      margin-top: 19.2px; } }

.mt40 {
  margin-top: 40px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .mt40 {
      margin-top: 32px; } }
  @media only screen and (max-width: 480px) {
    .mt40 {
      margin-top: 24px; } }

.mt48 {
  margin-top: 48px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .mt48 {
      margin-top: 38.4px; } }
  @media only screen and (max-width: 480px) {
    .mt48 {
      margin-top: 28.8px; } }

.mt56 {
  margin-top: 56px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .mt56 {
      margin-top: 44.8px; } }
  @media only screen and (max-width: 480px) {
    .mt56 {
      margin-top: 33.6px; } }

.mt64 {
  margin-top: 64px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .mt64 {
      margin-top: 51.2px; } }
  @media only screen and (max-width: 480px) {
    .mt64 {
      margin-top: 38.4px; } }

.mt72 {
  margin-top: 72px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .mt72 {
      margin-top: 57.6px; } }
  @media only screen and (max-width: 480px) {
    .mt72 {
      margin-top: 43.2px; } }

.pt32 {
  padding-top: 32px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pt32 {
      padding-top: 25.6px; } }
  @media only screen and (max-width: 480px) {
    .pt32 {
      padding-top: 19.2px; } }

.pt40 {
  padding-top: 40px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pt40 {
      padding-top: 32px; } }
  @media only screen and (max-width: 480px) {
    .pt40 {
      padding-top: 24px; } }

.pt48 {
  padding-top: 48px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pt48 {
      padding-top: 38.4px; } }
  @media only screen and (max-width: 480px) {
    .pt48 {
      padding-top: 28.8px; } }

.pt56 {
  padding-top: 56px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pt56 {
      padding-top: 44.8px; } }
  @media only screen and (max-width: 480px) {
    .pt56 {
      padding-top: 33.6px; } }

.pt64 {
  padding-top: 64px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pt64 {
      padding-top: 51.2px; } }
  @media only screen and (max-width: 480px) {
    .pt64 {
      padding-top: 38.4px; } }

.pt72 {
  padding-top: 72px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pt72 {
      padding-top: 57.6px; } }
  @media only screen and (max-width: 480px) {
    .pt72 {
      padding-top: 43.2px; } }

.mr32 {
  margin-right: 32px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .mr32 {
      margin-right: 25.6px; } }
  @media only screen and (max-width: 480px) {
    .mr32 {
      margin-right: 19.2px; } }

.mr40 {
  margin-right: 40px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .mr40 {
      margin-right: 32px; } }
  @media only screen and (max-width: 480px) {
    .mr40 {
      margin-right: 24px; } }

.mr48 {
  margin-right: 48px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .mr48 {
      margin-right: 38.4px; } }
  @media only screen and (max-width: 480px) {
    .mr48 {
      margin-right: 28.8px; } }

.mr56 {
  margin-right: 56px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .mr56 {
      margin-right: 44.8px; } }
  @media only screen and (max-width: 480px) {
    .mr56 {
      margin-right: 33.6px; } }

.mr64 {
  margin-right: 64px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .mr64 {
      margin-right: 51.2px; } }
  @media only screen and (max-width: 480px) {
    .mr64 {
      margin-right: 38.4px; } }

.mr72 {
  margin-right: 72px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .mr72 {
      margin-right: 57.6px; } }
  @media only screen and (max-width: 480px) {
    .mr72 {
      margin-right: 43.2px; } }

.pr32 {
  padding-right: 32px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pr32 {
      padding-right: 25.6px; } }
  @media only screen and (max-width: 480px) {
    .pr32 {
      padding-right: 19.2px; } }

.pr40 {
  padding-right: 40px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pr40 {
      padding-right: 32px; } }
  @media only screen and (max-width: 480px) {
    .pr40 {
      padding-right: 24px; } }

.pr48 {
  padding-right: 48px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pr48 {
      padding-right: 38.4px; } }
  @media only screen and (max-width: 480px) {
    .pr48 {
      padding-right: 28.8px; } }

.pr56 {
  padding-right: 56px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pr56 {
      padding-right: 44.8px; } }
  @media only screen and (max-width: 480px) {
    .pr56 {
      padding-right: 33.6px; } }

.pr64 {
  padding-right: 64px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pr64 {
      padding-right: 51.2px; } }
  @media only screen and (max-width: 480px) {
    .pr64 {
      padding-right: 38.4px; } }

.pr72 {
  padding-right: 72px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pr72 {
      padding-right: 57.6px; } }
  @media only screen and (max-width: 480px) {
    .pr72 {
      padding-right: 43.2px; } }

.mb32 {
  margin-bottom: 32px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .mb32 {
      margin-bottom: 25.6px; } }
  @media only screen and (max-width: 480px) {
    .mb32 {
      margin-bottom: 19.2px; } }

.mb40 {
  margin-bottom: 40px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .mb40 {
      margin-bottom: 32px; } }
  @media only screen and (max-width: 480px) {
    .mb40 {
      margin-bottom: 24px; } }

.mb48 {
  margin-bottom: 48px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .mb48 {
      margin-bottom: 38.4px; } }
  @media only screen and (max-width: 480px) {
    .mb48 {
      margin-bottom: 28.8px; } }

.mb56 {
  margin-bottom: 56px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .mb56 {
      margin-bottom: 44.8px; } }
  @media only screen and (max-width: 480px) {
    .mb56 {
      margin-bottom: 33.6px; } }

.mb64 {
  margin-bottom: 64px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .mb64 {
      margin-bottom: 51.2px; } }
  @media only screen and (max-width: 480px) {
    .mb64 {
      margin-bottom: 38.4px; } }

.mb72 {
  margin-bottom: 72px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .mb72 {
      margin-bottom: 57.6px; } }
  @media only screen and (max-width: 480px) {
    .mb72 {
      margin-bottom: 43.2px; } }

.pb32 {
  padding-bottom: 32px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pb32 {
      padding-bottom: 25.6px; } }
  @media only screen and (max-width: 480px) {
    .pb32 {
      padding-bottom: 19.2px; } }

.pb40 {
  padding-bottom: 40px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pb40 {
      padding-bottom: 32px; } }
  @media only screen and (max-width: 480px) {
    .pb40 {
      padding-bottom: 24px; } }

.pb48 {
  padding-bottom: 48px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pb48 {
      padding-bottom: 38.4px; } }
  @media only screen and (max-width: 480px) {
    .pb48 {
      padding-bottom: 28.8px; } }

.pb56 {
  padding-bottom: 56px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pb56 {
      padding-bottom: 44.8px; } }
  @media only screen and (max-width: 480px) {
    .pb56 {
      padding-bottom: 33.6px; } }

.pb64 {
  padding-bottom: 64px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pb64 {
      padding-bottom: 51.2px; } }
  @media only screen and (max-width: 480px) {
    .pb64 {
      padding-bottom: 38.4px; } }

.pb72 {
  padding-bottom: 72px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pb72 {
      padding-bottom: 57.6px; } }
  @media only screen and (max-width: 480px) {
    .pb72 {
      padding-bottom: 43.2px; } }

.ml32 {
  margin-left: 32px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .ml32 {
      margin-left: 25.6px; } }
  @media only screen and (max-width: 480px) {
    .ml32 {
      margin-left: 19.2px; } }

.ml40 {
  margin-left: 40px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .ml40 {
      margin-left: 32px; } }
  @media only screen and (max-width: 480px) {
    .ml40 {
      margin-left: 24px; } }

.ml48 {
  margin-left: 48px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .ml48 {
      margin-left: 38.4px; } }
  @media only screen and (max-width: 480px) {
    .ml48 {
      margin-left: 28.8px; } }

.ml56 {
  margin-left: 56px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .ml56 {
      margin-left: 44.8px; } }
  @media only screen and (max-width: 480px) {
    .ml56 {
      margin-left: 33.6px; } }

.ml64 {
  margin-left: 64px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .ml64 {
      margin-left: 51.2px; } }
  @media only screen and (max-width: 480px) {
    .ml64 {
      margin-left: 38.4px; } }

.ml72 {
  margin-left: 72px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .ml72 {
      margin-left: 57.6px; } }
  @media only screen and (max-width: 480px) {
    .ml72 {
      margin-left: 43.2px; } }

.pl32 {
  padding-left: 32px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pl32 {
      padding-left: 25.6px; } }
  @media only screen and (max-width: 480px) {
    .pl32 {
      padding-left: 19.2px; } }

.pl40 {
  padding-left: 40px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pl40 {
      padding-left: 32px; } }
  @media only screen and (max-width: 480px) {
    .pl40 {
      padding-left: 24px; } }

.pl48 {
  padding-left: 48px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pl48 {
      padding-left: 38.4px; } }
  @media only screen and (max-width: 480px) {
    .pl48 {
      padding-left: 28.8px; } }

.pl56 {
  padding-left: 56px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pl56 {
      padding-left: 44.8px; } }
  @media only screen and (max-width: 480px) {
    .pl56 {
      padding-left: 33.6px; } }

.pl64 {
  padding-left: 64px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pl64 {
      padding-left: 51.2px; } }
  @media only screen and (max-width: 480px) {
    .pl64 {
      padding-left: 38.4px; } }

.pl72 {
  padding-left: 72px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pl72 {
      padding-left: 57.6px; } }
  @media only screen and (max-width: 480px) {
    .pl72 {
      padding-left: 43.2px; } }

.mt80 {
  margin-top: 80px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .mt80 {
      margin-top: 64px; } }
  @media only screen and (max-width: 480px) {
    .mt80 {
      margin-top: 48px; } }

.mt100 {
  margin-top: 100px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .mt100 {
      margin-top: 80px; } }
  @media only screen and (max-width: 480px) {
    .mt100 {
      margin-top: 60px; } }

.mt120 {
  margin-top: 120px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .mt120 {
      margin-top: 96px; } }
  @media only screen and (max-width: 480px) {
    .mt120 {
      margin-top: 72px; } }

.pt80 {
  padding-top: 80px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pt80 {
      padding-top: 64px; } }
  @media only screen and (max-width: 480px) {
    .pt80 {
      padding-top: 48px; } }

.pt100 {
  padding-top: 100px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pt100 {
      padding-top: 80px; } }
  @media only screen and (max-width: 480px) {
    .pt100 {
      padding-top: 60px; } }

.pt120 {
  padding-top: 120px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pt120 {
      padding-top: 96px; } }
  @media only screen and (max-width: 480px) {
    .pt120 {
      padding-top: 72px; } }

.mr80 {
  margin-right: 80px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .mr80 {
      margin-right: 64px; } }
  @media only screen and (max-width: 480px) {
    .mr80 {
      margin-right: 48px; } }

.mr100 {
  margin-right: 100px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .mr100 {
      margin-right: 80px; } }
  @media only screen and (max-width: 480px) {
    .mr100 {
      margin-right: 60px; } }

.mr120 {
  margin-right: 120px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .mr120 {
      margin-right: 96px; } }
  @media only screen and (max-width: 480px) {
    .mr120 {
      margin-right: 72px; } }

.pr80 {
  padding-right: 80px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pr80 {
      padding-right: 64px; } }
  @media only screen and (max-width: 480px) {
    .pr80 {
      padding-right: 48px; } }

.pr100 {
  padding-right: 100px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pr100 {
      padding-right: 80px; } }
  @media only screen and (max-width: 480px) {
    .pr100 {
      padding-right: 60px; } }

.pr120 {
  padding-right: 120px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pr120 {
      padding-right: 96px; } }
  @media only screen and (max-width: 480px) {
    .pr120 {
      padding-right: 72px; } }

.mb80 {
  margin-bottom: 80px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .mb80 {
      margin-bottom: 64px; } }
  @media only screen and (max-width: 480px) {
    .mb80 {
      margin-bottom: 48px; } }

.mb100 {
  margin-bottom: 100px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .mb100 {
      margin-bottom: 80px; } }
  @media only screen and (max-width: 480px) {
    .mb100 {
      margin-bottom: 60px; } }

.mb120 {
  margin-bottom: 120px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .mb120 {
      margin-bottom: 96px; } }
  @media only screen and (max-width: 480px) {
    .mb120 {
      margin-bottom: 72px; } }

.pb80 {
  padding-bottom: 80px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pb80 {
      padding-bottom: 64px; } }
  @media only screen and (max-width: 480px) {
    .pb80 {
      padding-bottom: 48px; } }

.pb100 {
  padding-bottom: 100px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pb100 {
      padding-bottom: 80px; } }
  @media only screen and (max-width: 480px) {
    .pb100 {
      padding-bottom: 60px; } }

.pb120 {
  padding-bottom: 120px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pb120 {
      padding-bottom: 96px; } }
  @media only screen and (max-width: 480px) {
    .pb120 {
      padding-bottom: 72px; } }

.ml80 {
  margin-left: 80px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .ml80 {
      margin-left: 64px; } }
  @media only screen and (max-width: 480px) {
    .ml80 {
      margin-left: 48px; } }

.ml100 {
  margin-left: 100px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .ml100 {
      margin-left: 80px; } }
  @media only screen and (max-width: 480px) {
    .ml100 {
      margin-left: 60px; } }

.ml120 {
  margin-left: 120px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .ml120 {
      margin-left: 96px; } }
  @media only screen and (max-width: 480px) {
    .ml120 {
      margin-left: 72px; } }

.pl80 {
  padding-left: 80px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pl80 {
      padding-left: 64px; } }
  @media only screen and (max-width: 480px) {
    .pl80 {
      padding-left: 48px; } }

.pl100 {
  padding-left: 100px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pl100 {
      padding-left: 80px; } }
  @media only screen and (max-width: 480px) {
    .pl100 {
      padding-left: 60px; } }

.pl120 {
  padding-left: 120px; }
  @media only screen and (max-width: 768px) and (min-width: 481px) {
    .pl120 {
      padding-left: 96px; } }
  @media only screen and (max-width: 480px) {
    .pl120 {
      padding-left: 72px; } }

/* ==========================================================================
    animation mixin
 @mixin =========================================================================*/
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 25px;
  padding-left: 25px;
  width: 100%;
  max-width: 1450px; }
  @media only screen and (max-width: 480px) {
    .container {
      padding-right: 18px;
      padding-left: 18px; } }

.tank {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden; }
  .tank::before {
    display: block;
    content: ""; }
  .tank .fluid {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0; }

.form {
  display: block; }
  .form .group {
    margin-bottom: 20px; }
    .form .group:after {
      content: '';
      display: block;
      clear: both; }

.btn {
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem; }
  .table td,
  .table th {
    vertical-align: top;
    padding: 0.75rem; }

.plain {
  white-space: nowrap;
  width: 100%;
  border: 1px solid #09a30d; }
  .plain a:not(.btn) {
    color: #09a30d; }
    .plain a:not(.btn):hover {
      text-decoration: underline; }
  .plain td,
  .plain th {
    height: 60px;
    text-align: center; }
  .plain thead tr,
  .plain tfoot tr {
    background-color: #efefef; }
  .plain thead tr {
    border-bottom: 1px solid #09a30d; }
  .plain tfoot tr {
    border-top: 1px solid #09a30d; }
  .plain tbody tr {
    transition: color 0.3s ,opacity 0.3s , background-color 0.3s ease-in-out; }
    .plain tbody tr:hover {
      transition: color 0.3s ,opacity 0.3s , background-color 0.3s ease-in-out; }
    .plain tbody tr:hover {
      background-color: #f3f3f3; }
    .plain tbody tr:not(:last-child) {
      border-bottom: 1px solid #cdcdcd; }
  @media only screen and (max-width: 991px) {
    .plain {
      font-size: 15px; } }

/* ==========================================================================
    animation
 @mixin =========================================================================*/
@-webkit-keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
    opacity: 0; }
  40% {
    opacity: 0.7; }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; } }
@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
    opacity: 0; }
  40% {
    opacity: 0.7; }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; } }

@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
    opacity: 0; }
  40% {
    opacity: 0.7; }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; } }

@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
    opacity: 0; }
  40% {
    opacity: 0.7; }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; } }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.7; }
  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.7; }
  100% {
    opacity: 1; } }

/* ==========================================================================
    plugin overwrite
 @mixin =========================================================================*/
.fullscreen {
  opacity: 0; }

html,
body,
main {
  height: 100%;
  overflow: hidden; }

main {
  background-color: #f3f3f3; }

.all {
  height: 60%;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0.3;
  z-index: 0; }

#drop,
#donut,
#hex {
  visibility: hidden; }

.title {
  z-index: 3;
  font-size: 10rem;
  font-family: 'EB Garamond', serif;
  font-weight: normal;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
  position: absolute;
  top: 45%;
  left: 26%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  letter-spacing: 0.5rem;
  white-space: nowrap;
  text-align: center; }
  .title span {
    position: relative; }
  .title [class^='align_'] {
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: #000;
    z-index: 100;
    left: 50%; }

button {
  height: 70px;
  width: 215px;
  position: absolute;
  bottom: 15vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
  display: block;
  color: #fff;
  font-family: 'Noto Sans TC', sans-serif, Verdana, Heiti TC, "微軟正黑體" , Microsoft JhengHei;
  font-size: 16px;
  background-color: #c5d67b; }
  button .bgc {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #7fa8f8;
    z-index: -1; }

.section {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0; }

.relative_wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  position: relative; }
  .relative_wrapper > img {
    position: absolute;
    z-index: 1; }

.title {
  color: #fff;
  z-index: 1; }

.title_g {
  color: #c5d67b; }

.green_pat {
  top: 3vh;
  right: 15vw; }

.green_bottle {
  bottom: 5vh;
  right: -4vw; }

.green_leaf {
  top: 40vh;
  left: 20vw;
  width: 15vw;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.green_box {
  bottom: -20vh;
  left: 4vw; }

.blue_box1 {
  top: -2vh;
  right: 15vw;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg); }

.blue_box2 {
  left: 15vw;
  bottom: 10vh;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  width: 24vw; }

.blue_coconut {
  right: -12vw;
  bottom: 20vh;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg); }

.blue_bottle {
  right: 30vw;
  bottom: -5vh;
  width: 8vw;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg); }

.red_bee1 {
  top: 22vh;
  right: 45vw; }

.red_bee2 {
  top: 60vh;
  right: 15vw; }

.red_box {
  bottom: -10vh;
  right: 25vw;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg); }

.red_stick1 {
  top: 30vh;
  left: 1vw; }

.red_stick2 {
  top: -20vh;
  right: 20vw;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }

.yellow_flower {
  top: 30vh;
  left: -1vw;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

.yellow_pat {
  top: 2vh;
  right: 30vw;
  -webkit-transform: translateX(50%) rotate(-12deg);
          transform: translateX(50%) rotate(-12deg); }

.yellow_bottle {
  bottom: 10vh;
  right: 16vw;
  -webkit-transform: translateX(50%) rotate(15deg);
          transform: translateX(50%) rotate(15deg);
  width: 20vw; }

.yellow_box {
  bottom: -10vh;
  left: 10vw;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg); }

.progress {
  position: absolute;
  bottom: 0;
  z-index: 10;
  height: 15px;
  background-color: #fff; }

select::-ms-expand {
  display: none; }

.radio_unit {
  white-space: nowrap;
  cursor: pointer; }
  .radio_unit input {
    position: absolute;
    opacity: 0;
    pointer-events: none; }
  .radio_unit span {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap; }
    .radio_unit span:before {
      margin-right: 7px;
      content: "";
      display: block;
      height: 16px;
      width: 16px;
      background-color: #d9d9d9;
      border-radius: 50%;
      transition: background-color 0.3s ease, box-shadow 0.3s ease;
      flex-shrink: 0; }
  .radio_unit input:checked + span:before {
    background-color: #555;
    box-shadow: inset 0 0 0 4px #d9d9d9; }

/*# sourceMappingURL=style.css.map */
